<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="header container">
  <h2 class="title">What needs to get done?</h2>
  <input class="new-task" type="text" placeholder="Enter a task..." autofocus="" #newTodo>
  <button (click)="addTodo(newTodo.value); newTodo.value=''">Add Task</button>
</div>

<div class="main container">
  <table class="task-table table table-hover table-striped">
    <thead>
      <tr class="thead-dark">
        <th scope="col">Task (double click to edit, esc to cancel, enter to confirm)</th>
        <th scope="col">Priority</th>
        <th scope="col">Completed</th>
        <th scope="col">Remove</th>
        <th scope="col">Mark as done</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos" [ngClass]="{ 'done': todo.isDone }">
        <td class="strikethrough" (dblclick)="editTodo(todo)" [hidden]="todo.editing">{{todo.label}}</td>
        <input class="edit"
        *ngIf="todo.editing"
        [value]="todo.label"
        #editedtodo (blur)="stopEditing(todo, editedtodo.value)"
        (keyup.enter)="updateEditing(todo, editedtodo.value)"
        (keyup.escape)="cancelEditing(todo)">
        <td scope="row">{{todo.priority}}</td>
        <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
        <td>
          <button (click)="deleteTodo(todo)" class="btn btn-danger delete">Delete</button>
        </td>
        <td class="checkboxFive">
          <input type="checkbox" class="toggle" [(ngModel)]="todo.isDone">
        </td>
      </tr>
    </tbody>
  </table>
</div>
